body {
    background-color: rgb(247, 247, 247);
}

.header {
    padding: 5px;
    text-align: left;
    background: #022c24;
    color: white;
    font-size: 20px;
  }

.content {
    padding:20px;
    font-size: 15px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif
}

.lol {
    color: navy
    font-size: 30px;
    font-family: 'Advent Pro', sans-serif;
}
